body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
html {
  scroll-behavior: smooth;
}
header{
    position: fixed;
    width: 100%;
}
.logo {
  float: left;
  color: white;
  margin-left: 20px;
  opacity: 0.80;
}
.logo img{
  width: 28px;
  float: left;
  margin-top: 0%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  li a {
    margin-top: 10px;
    margin-right: 20px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.24s;
  }
  li a:hover {
    background-color: rgb(6, 134, 6);
    border-radius: 25px;
    transition: 0.24s;
  }